.active_users {
    
    display: flex;
    gap: 10px;

    > div {
        width: 24px;
        height: 24px;
        background-size: contain;
        border-radius: 50%;
        flex-shrink: 0;
        background-color: #484848;
    }
}