#page_project {

    .components_con {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .components {
        border: 1px solid #ffffff3b;
        padding: 10px;
        border-radius: 3px;
    }
}