#page_project .pages {

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .page {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        
        .remove {
            cursor: pointer;
        }

        .user {
            width: 24px;
            height: 24px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
        }
    }

    .page_controls {
        display: flex;
        gap: 10px;
    }
}

#page_project .add_page_form {
    margin-top: 20px;
}